*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --width: 500px;
    --height: 100px;
}
body {
    background-color: lightslategrey;
    font-size: 20px;
}
h1{
    font-size: 2em;
    background-color: grey;
    width: 50%;
    display: flex;
    align-content: center;
    color:black;
    box-shadow: 10px 5px 10px black;
}
p{
    text-align: center;
}
button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: blueviolet;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px calc(50vw - calc(150px / 2));
}
#sudoku {
    box-sizing: content-box;
    color: yellow;
    width: 560px; 
    height:auto;
    background-color: black;
    /* padding: 1px; */
    border: 10px double darkblue;
    margin-left: calc(calc(100vw - 560px)/2);
    margin-right: calc(calc(100vw - 560px)/2);
    /* display: none; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0cap;
}
.odd{
    display: inline-block;
    background-color: white;
    color: darkslategray;
    height: 70px; 
    width: 70px;   
}
.even{
    display: inline-block;
    background-color: darkslategray;
    color: darkred;
    height: 70px; 
    width: 70px;
}
.white{
    height: 70px; 
    width: 70px;
}
.black{
    height: 70px; 
    width: 70px;
}

.announcement{
    display: none;
    box-sizing: content-box;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 571px;
    padding: 10px 0;
    background-color: black;
    border-radius: 10px;
    color: white;
    margin: 10px calc(calc(100vw - 571px) / 2);

}

.hover{
    background-color: chocolate;
}
.checked{
    background-color: red;
}
.selected{
    background-color: darkblue;
}
.potential-position{
    background-color: brown;
}

.parent{
    margin-left: calc( calc(100vw / 2) - calc(var(--width)/2));
    margin-top: calc(calc(100vh/2) - calc(var(--height)/2));
    width: var(--width);
    height: calc(3*var(--height));
    background-color: yellow;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.child{
    position: relative;
    height: 100px;
    background-color: yellowgreen;
    font-size: 30px;
}